{% extends "account/base.html" %}

{% block config %}
    {% include "account/block_config.html" %}
{% endblock %}

{% block navigate_menu %}
    {% include "account/block_navigate_menu.html" %}
{% endblock %}

{% block main_info %}
Account management<br><br>
<a class="menu" href="/account/account_management/add_account">Add Account</a>
<br><br>

<table border="1">
    <tr>
	<td><b>Account Name</b></td>
	<td><b>Type</b></td>
	<td><b>Description</b></td>
	<td><b>Created</b></td>
{#	<td><b>Owner</b></td> #}
	<td><b>Visit Site</b></td>
	<td><b>Actions</b></td>
    </tr>
{% for acct in all_accounts %}
    <tr>
	<td>{{ acct.acct_name }}</td>
	<td>{{ acct.acct_type }}</td>
	<td>{{ acct.description }}</td>
	<td>{{ acct.create_date }}</td>
{#	<td>{{ acct.created_by }}</td> #}
	<td><a href="{{ acct.login_url }}" target="_blank">Opens in new tab</a></td>
	<td><a href="edit_account/{{ acct.id }}">Edit</a>
	    <a href="#">Delete</a></td>
    </tr>

{% endfor %}
</table>
{% endblock %}

{% block right_pan %}
    {% include "account/block_right_pan.html" %}
{% endblock %}
