{% extends "base/base.html" %}

{% block config %}
    {% include "account/block_config.html" %}
{% endblock %}

{% block navigate_menu %}
    {% include "account/block_navigate_menu.html" %}
{% endblock %}

{% block main_info %}
Time Watch<br><br>

<table border="1">
    <tr>
	<td><b>Account Name</b></td>
	<td><b>Visit Site</b></td>
	<td><b>Due Date</b></td>
	<td><b>Days Left</b></td>
	<td><b>Acknowledge</b></td>
	<td><b>History</b></td>
    </tr>

{% for acct in accounts %}
    <tr>
	<td><a class="noticable" href="view/{{ acct.id }}">{{ acct.acct_name }}</a></td>
	<td>{{ acct.login_url }}</td>
	<td>{{ acct.t_watch.due_month_day }}</td>
	<td>10</td>
	<td><a href="acknowledge/{{ acct.id }}" target="_blank">Acknowledge</a></td>
	<td><a href="history/{{ acct.id }}">List Payments</a>
    </tr>

{% endfor %}
</table>
{% endblock %}

{% block right_pan %}
    {{ block.super }}
{% endblock %}
