
{% extends "base/base.html" %}


{% block config %}
    {% include "config/block_config.html" %}
{% endblock %}

{% block main_menu %}
    {{ block.super }}
{% endblock %}

{% block navigate_menu %}
    {% include "config/block_navigate_menu.html" %}
{% endblock %}

{% block main_info %}

<br>

<a href="/config/document/attributes/add">Add New Attribute</a>
<br><br>

<table border="1">
    <tr align="center">
	<td><b>Attribute</b></td>
	<td><b>Format</b></td>
    </tr>


{% for attr in doc_attributes %}
    <tr>
	<td>{{ attr.attribute }}</td>
	<td>{{ attr.attribute_format }}</td>
    </tr>
{% endfor %}

</table>
{% endblock %}
