<b>Development draft</b><br>
Basic logic for user administration 

<ul>
    <li>Any user may belong to one household only</li>
    <li>User can assign himself to administrator only while initiating household</li>
    <li>Household may have many estates</li>
    <li>After registration, user must provide personal information 
	    and choose to be administrator or to join existing household</li>
    <li>In order to join existing household, user must create join request (Draft)</li>
    <li>Starting new household, user assigns himself as administrator</li>
    <li>Administrator cannot join existing household</li>
    <li>Administrator may grant access to user to join his household</li>
    <li>Household may have multiple administrators (Draft)</li>
</ul>
