{% extends "account/base.html" %}

{% block config %}
<div>
<br>
<a class="menu" href="/logout">Logout</a><br>
<a class="menu" href="/account/profile">Profile</a><br>
</div>
{% endblock %}

{% block navigate_menu %}
    {% include "account/block_navigate_menu.html" %}
{% endblock %}

{% block main_info %}
Welcome

{% if not h_user %}
    <br>Please provide information about you<br>
{#    {% include "account/user_info_form.html" %} #}

{% else %}
 {{ h_user.user.first_name }}
{% endif %}

{% include "account/user_info_form.html" %}




{% endblock %}

{% block right_pan %}
    {% include "account/block_right_pan.html" %}
{% endblock %}
