{% extends "account/base.html" %}

{% block config %}
<div>
<br>
<a class="menu" href="/logout">Logout</a><br>
<a class="menu" href="/account/profile">Profile</a><br>
</div>
{% endblock %}

{% block navigate_menu %}
    {% include "account/block_navigate_menu.html" %}
{% endblock %}

{% block main_info %}
<table border="1">
    <tr>
	<td>Address</td><td>{{ household.ba_id }}</td>
    </tr><tr>
	<td>People</td><td>{% for person in users %}

	{{ person.user_id.user_id.first_name }}<br>
    {% endfor %}</td>
    </tr><tr>
	<td>Vehicles</td><td>Coming soon</td>
    </tr>
    </tr><tr>
	<td>Accounts</td><td>Coming soon</td>
    </tr>

</table>
{% endblock %}

{% block right_pan %}
    {% include "account/block_right_pan.html" %}
{% endblock %}
